<!doctype html>
<html>
<head>
	<title>Recipe Book</title>

	<!-- basics -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<link rel="icon" type="image/png" href="cookbook.png">

	<!-- font and styles -->
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700,700i,900" rel="stylesheet">
	<link href="stylesheet.css" rel="stylesheet" type="text/css">

	<script defer src="index.dart.js"></script>
</head>

<body>
	<div id="wrapper" class="index">
		<section id="toc">
			<h1 id="mainTitle">{{title}}</h1>
			<p id="navigation">
        <a href="#">A</a>
        <a href="#">B</a>
        <a href="#">C</a>
      </p>

      <ul>
        {{#recipes}}
        <li><a href="{{.}}.html">{{.}}</a></li>
        {{/recipes}}
      </ul>
		</section>
		<section id="footer">
			<ul>
				<li>Recipes maintained by <a href="https://www.jasondsouza.org">Jason Dsouza</a></li>
			</ul>
		</section>
	</div>
</body>
</html>
